#data{
    text-align:center;
    
}

#election{
    padding:120px 120px;
}

.electionName{
    text-transform:uppercase;
    line-height:1.5;
    padding:0px 30px;
    font-size:250%;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
}

.electionDate{
    font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
    font-size:150%;
}

.deadline{

}

.strike{
    text-decoration:line-through;
}

#state{
    text-align:center;
    padding:10px 10px;
    background-color:rgb(170, 180, 191);
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select.soflow{
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(img/dropbg.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    font-size:150%;
    white-space: nowrap;
    width: 600px;
}

#about{
    text-align:center;
    background-color:rgb(170, 180, 191);
}
